body {
  background: linear-gradient(to right, #43cea2, #185a9d);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  color: white;
}

.form-box {
  background-color: white;
  color: black;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  max-width: 700px;
  width: 100%;
}

.form-box h2 {
  text-align: center;
  margin-bottom: 25px;
}